<suite name="Suite" parallel="tests"  thread-count="2">

  <test name="Test1">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="selenium_testng.E2E_TestNG"/>
    </classes>
  </test>
  
  <test name="Test2">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
      <class name="selenium_testng.E2E_TestNG"/>
    </classes>
  </test>
  
</suite>